.content {
    position: absolute;
    overflow: hidden;

    &__left {
        float: left;
        width: $width-left-col;
        height: 100%;
        padding: 3rem 4rem;
    }

    &__right {
        position: absolute;
        float: right;
        width: $width-right-col;   
        background-color: $color-right-col;
        height: 100%;
        padding: 2rem 3rem;
        right: 1rem;
        
        @include shadow(0.5);
    }
}