{{ if .Travel }}
<div id="experience" class="section">
    <div class="section__heading">
        <h2 class="section__title">Travel</h2>
    </div>
    <div class="section__content">
        <div class="experience">
            {{ range .Travel }}
            <div class="experience__item">
                <div class="experience__header">
                    <h3 class="experience__company">
                        {{ .Place | safeHTML }}
                    </h3>
                    <h3 class="experience__date">{{ .Date | safeHTML }}</h3>
                </div>
                <div class="experience__job">
                    <ul>
                        {{ range .Details }}
                        <li class="experience__bullet">{{ . | safeHTML }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}

